certs
definitions
plugins/*.so*
files
graphoscope*
upload
ideas
build
binary
Makefile*
Dockerfile*
*.yaml
*.log
*.log.gz
*.pprof
profile*.svg
*.sublime-project
*.sublime-workspace
.buildconfig
tags.*
assets
docs