certs/graph.*
certs/graph-*
certs/certca2.crt
certs/cluster.crt
sources/*
!sources/*.example
plugins/*.so
plugins/*.so~
*.yaml
files/groups.json
files/formats.yaml
!files/features.yaml
graphoscope
upload
ideas
build
binary
Makefile
Dockerfile
*.log
*.log.gz
*.pprof
profile*.svg
*.sublime-project
*.sublime-workspace
.buildconfig
tags.*
!assets/js/tags.js