certs/graph.*
certs/graph-*
certs/certca2.crt
certs/cluster.crt
definitions/*
!definitions/sources/*.example
!definitions/processors/*.example
!definitions/outputs/*.example
plugins/sources/*.so
plugins/processors/*.so
plugins/outputs/*.so
plugins/sources/*.so~
plugins/processors/*.so~
plugins/outputs/*.so~
*.yaml
files/groups.json
files/formats.yaml
!files/features.yaml
graphoscope
upload
ideas
build
binary
Makefile
Dockerfile
*.log
*.log.gz
*.pprof
profile*.svg
*.sublime-project
*.sublime-workspace
.buildconfig
tags.*
!assets/js/tags.js