certs/graph.*
certs/graph-*
certs/certca2.crt
sources/*
!sources/*.example
plugins/*.so
plugins/*.so~
*.yaml
files/groups.json
files/formats.yaml
graphoscope
upload
ideas
build
binary
Makefile
Dockerfile
*.log
*.pprof
profile*.svg
*.sublime-project
*.sublime-workspace
.buildconfig
tags.*