name: demo
label: Demo
icon: database

plugin: file-csv
inGlobal: false
includeDatetime: false
supportsSQL: true

access:
    path: files/demo.csv


relations:
  -
    from:
        id: name
        group: name
        search: name
        attributes: [ "age" ]

    to:
        id: country
        group: country
        search: country

    edge:
        label: lives in
        attributes: []

  -
    from:
        id: name
        group: name
        search: name

    to:
        id: friend
        group: name
        search: name